<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-icon aria-hidden="false">eco</mat-icon>
</mat-toolbar>
<mat-card class="example-card margin-top-bottom-10">
  <mat-card-header>
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Sub Title</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="1"
    max="100000"></mat-slider>     <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at mauris..
      </p>
  </mat-card-content>
</mat-card>